/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.users_list {
  max-width: 130rem;
  margin: 0 auto;
  padding: 2.4rem 3.2rem;
  background-color: #faf1e9;
  display: flex;
  flex-direction: column;
}

.users {
  display: flex;
  gap: 2.4rem;
  margin: 3.2rem;
}

.info {
  width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  border: 3px solid #333;
  padding: 1.2rem;
  background-color: #f1d4bc;
}

.users a {
  text-decoration: none;
  color: #333;
}

.user_name {
  font-size: 3.2rem;
  font-weight: 600;
}

.number_posts {
  align-items: flex-end;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 3.2rem;
}

.user_image {
  border: 3px solid #333;
}

.Add-post {
  margin-top: 1.2rem;
  /* width: 20rem; */
  height: auto;
  border: 3px solid #333;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  padding: 1.2rem;
  background-color: #f1d4bc;
  display: flex;
  justify-content: space-between;
}

.Add-post a {
  text-decoration: none;
  color: #333;
  font-size: 2.4rem;
  font-weight: 500;
}

.bio {
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border: 3px solid #333;
  padding: 1.2rem;
  background-color: #f1d4bc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 2.4rem 3.2rem;
  background-color: #faf1e9;
}

.see-posts {
  width: 15rem;
  height: 3.2rem;
  padding: 1.2rem;
  background-color: #f1d4bc;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: all 1s;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  align-self: center;
}

.see-posts:hover {
  background-color: #faf1e9;
}

.posts {
  width: 50rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 1.2rem;
}

.posts a {
  text-decoration: none;
  color: #333;
  border: 3px solid #333;
}

h3 {
  background-color: #f1d4bc;
  padding: 1.2rem;
  font-weight: 600;
}

.wrap-post {
  display: flex;
  gap: 1.2rem;
  background-color: #f1d4bc;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.post-text {
  font-size: 1.6rem;
  font-weight: 400;
}

.comments-likes {
  font-size: 1.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.field {
  width: 40rem;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 15px;
}

.field input{
  width: 100%;
}

.btn {
  width: 10rem;
  height: 3.2rem;
  align-self: center;
  background-color: #f1d4bc;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: all 1s;
  font-size: 1.6rem;
  font-weight: 600;
}

.btn:hover {
  background-color: #faf1e9;
}


h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #212529;
}

.container1 {
  width: 50%;
  margin: 8% 25%;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.075rem;
  border: 1px solid #212529;
  background-color: #faf1e9;
}

.field input {
  width: 100%;
  height: 3.6rem;
  margin-top: 1.2rem;
}

.label-pass {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

.check {
  margin: 15px auto;
  display: flex;
  font-size: 13px;
}

.links {
  text-decoration: none;
  color: #333;
  transition: all 1s;
  font-size: 14px;
  margin: 7px 0;
}

.links:hover {
  color: #796a5e;
}
